.idea/.name
.idea/agave-documentation.iml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/webResources.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/dooley.xml
