<table id="notification-macros-profiles" class="notification-macros profiles">
	<thead>
		<tr>
			<th>Variable</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UUID</td>
			<td>The UUID of the profile</td>
		</tr>
		<tr>
			<td>EVENT</td>
			<td>The name of the event which occurred.</td>
		</tr>
        <tr>
            <td>OWNER</td>
            <td>The username of the user who triggered the event.</td>
        </tr>
		<tr>
			<td>USERNAME</td>
			<td>Username of the user</td>
		</tr>
	</tbody>
</table>
