<!-- Begin Notification API Events -->
<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	    <tr>
            <td>CREATED</td>
            <td>Notification was created</td>
        </tr>
        <tr>
            <td>UPDATED</td>
            <td>Notification was updated</td>
        </tr>
        <tr>
            <td>DELETED</td>
            <td>Notification was deleted</td>
        </tr>
        <tr>
            <td>DISABLED</td>
             <td>Notification was diabled</td>
        </tr>
        <tr>
            <td>ENABLED</td>
            <td>Notification was enabled</td>
        </tr>
        <tr>
            <td>FAILURE</td>
            <td>Notificaiton delivery failed</td>
        </tr>
        <tr>
            <td>SUCCESS</td>
            <td>Notification was successfully delivered</td>
        </tr>
        <tr>
            <td>SEND_ERROR</td>
            <td>Notification attempt was unsuccessful</td>
        </tr>
        <tr>
            <td>RETRY_ERROR</td>
            <td>Notification retry attempt was unsuccessful</td>
        </tr>
        <tr>
            <td>PERMISSION_REVOKE</td>
            <td>One or more user permissions were revoked on this tag</td>
        </tr>
        <tr>
        	<td>PERMISSION_GRANT</td>
            <td>One or more user permissions were granted on this tag</td>
		</tr>
		<tr>
            <td>FORCED_ATTEMPT</td>
            <td>Notification attempt was forced by user</td>
        </tr>
	</tbody>
</table>
<!-- End Notification API Events -->